name: Miri tests

on:
  push:
    paths-ignore:
    - '.devcontainer/**'
    - '.gitpod.yml'
    - '.vscode/**'
    - 'tests/**'
  pull_request:
    paths-ignore:
    - '.devcontainer/**'
    - '.gitpod.yml'
    - '.vscode/**'
    - 'tests/**'
  schedule:
    # Run against the last commit on the default branch on Friday at 9pm (UTC?)
    - cron:  '0 21 * * 5'

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        # https://github.com/marketplace/actions/skip-duplicate-actions
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: 'same_content'
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule"]'

  test:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Moka
        uses: actions/checkout@v4

      - name: Install Rust nightly toolchain with Miri
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: miri

      - run: cargo miri setup

      - name: Run Miri test on arc module using tree borrows
        run: cargo miri test arc --lib --features 'sync, future'
        env:
          MIRIFLAGS: '-Zmiri-tree-borrows'

      - name: Run Miri test on deque module using tree borrows
        run: cargo miri test deque --lib --features 'sync, future'
        env:
          MIRIFLAGS: '-Zmiri-tree-borrows'

      - name: Run Miri test on timer_wheel module using tree borrows
        run: cargo miri test timer_wheel --lib --features 'sync, future'
        env:
          MIRIFLAGS: '-Zmiri-tree-borrows'

      # Ignore memory leaks here because crossbeam-epoch does not guarantee that
      # all memory is reclaimed on the test exit. Note that we do not run stacked
      # borrows tests on these black-box tests because crossbeam-epoch will not
      # work with stacked borrows.
      - name: Run Miri test on timer wheel black-box tests using tree borrows
        run: cargo miri test test_timer_wheel_panic --features sync
        env:
          MIRIFLAGS: '-Zmiri-tree-borrows -Zmiri-ignore-leaks'

      - name: Run Miri test on arc module using stacked borrows
        run: cargo miri test arc --lib --features 'sync, future'

      - name: Run Miri test on deque module using stacked borrows
        run: cargo miri test deque --lib --features 'sync, future'

      - name: Run Miri test on timer_wheel module using stacked borrows
        run: cargo miri test timer_wheel --lib --features 'sync, future'
